/*-- Reset Rule --*/
* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  --red-color: #b5111a;
  --black-color: #222222;
  --blue-text-color: #215da6;
}

/*--========== FONTS ===========--*/
/*-- Font Family: Stencil Std --*/
/* font: "stencil-std" */

/*-- Font Family: Montserrat --*/
/* font: "Montserrat" */

/*--========== UNIVERSAL STYLING ==========--*/
/* Sticky Footer */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*-- Pesce Style --*/
.dropdown-menu {
  background-color: #215da6;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-menu:hover,
.dropdown-menu:focus {
  background-color: #2980b9;
}

.main-nav {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.dropdown-pages {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  z-index: 1;
}

.dropdown-pages a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-pages a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.honor {
  font-family: stencil-std;
  font-size: 270%;
  color: #215da6;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
}

.home-body-copy {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  padding: 3vh 10vh 6vh 10vh;
}

.banners {
  margin-top: -5px;
  max-width: 100%;
}

li {
  display: inline-flex;
  /* padding: 3vh 10vh; */
}

a {
  text-decoration: none;
}

.bottom-links {
  text-decoration: underline;
  color: black;
}

.socials {
  width: 5%;
  padding: 5%;
}

.foot-contact {
  font-size: 1em;
  color: #215da6;
  /* Z's edit */
  padding-bottom: 25px;
}

.bottom-text {
  font-size: 1em;
  /* Z's edit */
  padding-bottom: 15px;
}

footer {
  /* Z's edit */
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background: url("images/foot-img.png") no-repeat bottom;
  padding-top: 10vh;
  background-size: contain;
  /* Sticky Footer */
  flex-shrink: 0;
}

form {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

label {
  padding: 20px;
  margin-left: 0;
  margin-top: 10px;
}

input {
  font-size: 20px;
  padding: 5px;
  margin-left: 0;
  margin-top: 15px;
  height: 30px;
}

button {
  font-size: 20px;
  border-radius: 10%;
  padding: 20px;
  margin-left: 0;
  margin-top: 15px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.row {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-title {
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 0 0;
}

.contact-title-container {
  border: solid #215da6 5px;
  width: 70%;
  margin: 0 auto;
}

/*-- Zehner Style --*/
/* Header */
.page-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 25px 2%;
  width: 100%;
}

.desktop-nav {
  color: #b5111a;
  display: none;
  font: bold 1rem/1.5 "stencil-std", serif;
}

.page-header a,
.main-logo {
  width: 175px;
}

/* Begin Hamburger Style */
.hamburger {
  background: none;
  border: none;
  color: #215da6;
  cursor: pointer;
  padding-right: 15px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 100;
}

.closeIcon {
  display: none;
}

.menu {
  align-items: center;
  background-image: linear-gradient(to right, #215da6, white, #215da6);
  color: #b5111a;
  display: flex;
  list-style-type: none;
  flex-flow: column nowrap;
  font: bold 1.5rem/1.5 "stencil-std", serif;
  justify-content: center;
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 70px;
  transform: translateY(-200%);
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.navMenu ul li {
  border-bottom: 1px solid white;
  justify-content: center;
  width: 100%;
}

.navMenu ul li a {
  color: #b5111a;
  text-decoration: none;
  text-shadow: 1px 1px 3px grey;
}

.showMenu {
  transform: translateY(0);
}
/* End Hamburger Menu */

.about-main {
  background: white url(images/about-hero.png) no-repeat 0 0;
  background-size: contain;
  height: 70vh;
}

.about-content {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 115%;
  justify-content: flex-end;
}

.about-content h1 {
  font-size: 2.5rem;
}

.about-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  overflow: scroll;
  width: 100%;
}

.about-wrapper .first,
.about-wrapper .second {
  margin: 0 auto;
  width: 100%;
}

.about-wrapper .first p,
.about-wrapper .second p {
  padding: 25px 2%;
}

.sub-head {
  color: #b5111a;
  text-transform: uppercase;
}

.bold {
  font: bold 1rem/1.5 "Montserrat";
}

/* Footer */
.page-footer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin-top: 100px;
}

.foot {
  align-self: flex-end;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 50px 5%;
  width: 95%;
}

.btop {
  padding: 0 2%;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.footer-links li {
  padding: 0 15px;
}

.social-media {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
}

.social-media img {
  width: 50px;
}

.footer-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 50px 5% 5px;
  text-align: center;
}
/*-- End Z-Style --*/

/*-- Harvey Services Style -- */

.services-main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
}

.setvices-top-img {
  justify-content: center;
}

.services-groupshot {
  justify-content: center;
  text-align: center;
  margin: auto;
}

.services-main-text {
  display: flex;
}

.services-section1 {
  max-width: 300px;
}

.services-section2 {
  max-width: 300px;
}

.services-section3 {
  max-width: 300px;
}

/*--========== MEDIA QUERIES ==========--*/
/*-- Start 370 Min-Width Media Query --*/
@media (min-width: 370px) {
  .about-content {
    height: 110%;
  }
}

/*-- End 370 Min-Width Media Query --*/

/*-- Start 525 Min-Width Media Query --*/
@media (min-width: 525px) {
  /* Header */
  .navMenu {
    display: none;
  }

  .desktop-nav {
    display: block;
    text-align: center;
    width: 50%;
  }

  .nav-main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px 25px 0 0;
  }

  .nav-main li {
    width: 60px;
  }

  /* Main Content */
  .about-main {
    height: 78vh;
  }

  .about-content {
    height: 100%;
  }

  .about-wrapper {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .about-wrapper .first,
  .about-wrapper .second {
    width: 40%;
  }

  /* Footer */
  .page-footer {
    margin-top: 0;
  }

  .foot {
    padding: 10px 5% 50px 5%;
  }
}

/*-- End 525 Min-Width Media Query --*/

/*-- Start 800 Min-Width Media Query --*/
@media (min-width: 800px) {
  /* Main Content */
  .about-main {
    height: 82vh;
  }
}

/*-- End 800 Min-Width Media Query --*/

/*-- Start 860 Min-Width Media Query --*/
@media (min-width: 860px) {
  .about-page {
    margin: 0 auto;
    max-width: 860px;
  }
}

/*-- End 860 Min-Width Media Query --*/
