/*-- Reset Rule --*/
* {
  border: 0;
  margin: 0;
  padding: 0;
}

/*--========== FONTS ===========--*/
/*-- Font Family: Stencil Std --*/
/* font: "stencil-std" */

/*-- Font Family: Montserrat --*/
/* font: "Montserrat" */

/*--========== UNIVERSAL STYLING ==========--*/
/* Sticky Footer */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*-- Pesce Style --*/
:root {
  --red-color: #b5111a;
  --black-color: #222222;
  --blue-text-color: #215da6;
}

h1 {
  font-family: stencil-std;
  font-size: 4em;
  color: #215da6;
  letter-spacing: 1.5px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 0 10vh;
}

.banners {
  margin-top: -5px;
  max-width: 100%;
}

li {
  display: inline-flex;
  /* padding: 3vh 10vh; */
}

a {
  text-decoration: none;
}

.bottom-links {
  text-decoration: underline;
  color: black;
}

/* .main-logo {
  float: left;
  width: 30vh;
  padding: 10px 0 10px 30px;
} */

.socials {
  width: 5%;
  padding: 5%;
}

.foot-contact {
  font-size: 1em;
  color: blue;
}

.bottom-text {
  font-size: 1em;
}

footer {
  /* Z's edit */
  background: white url("images/foot-img.png") no-repeat bottom;
  background-size: contain;
  /* Sticky Footer */
  flex-shrink: 0;
}

/*-- Zehner Style --*/
/* Header */
.page-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 25px 2%;
  width: 100%;
}

.desktop-nav {
  display: none;
}

.main-logo {
  width: 50%;
}
/* Begin Hamburger Style */
.hamburger {
  background: none;
  border: none;
  color: #215da6;
  cursor: pointer;
  padding-right: 15px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 100;
}

.closeIcon {
  display: none;
}

.menu {
  background-image: linear-gradient(to right, #215da6, white, #215da6);
  color: #b5111a;
  list-style-type: none;
  font: bold 1.5rem/1.5 "stencil-std", serif;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 50px;
  transform: translateY(-200%);
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.navMenu ul li {
  border-bottom: 1px solid white;
}

.navMenu ul li a {
  color: #b5111a;
  text-decoration: none;
  text-shadow: 1px 1px 3px grey;
}

.showMenu {
  transform: translateY(0);
}
/* End Hamburger Menu */

.about-main {
  background: white url(images/about-hero.png) no-repeat 0 0;
  height: 100vh;
}

.about-content {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 110%;
  justify-content: flex-end;
}

.about-content h1 {
  font-size: 2.5rem;
}

.about-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  overflow: scroll;
  width: 100%;
}

.about-wrapper .first,
.about-wrapper .second {
  margin: 0 auto;
  width: 100%;
}

.about-wrapper .first p,
.about-wrapper .second p {
  padding: 25px 2%;
}

.sub-head {
  color: #b5111a;
  text-transform: uppercase;
}

.bold {
  font: bold 1rem/1.5 "Montserrat";
}

/* Footer */
.page-footer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.foot {
  align-self: flex-end;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 50px 5%;
  width: 100%;
}

.footer-links {
  display: flex;
  flex-flow: row wrap;
}

.footer-links li {
  padding: 0 15px;
}

/*-- End Z-Style --*/

/*--========== MEDIA QUERIES ==========--*/
/*-- Start xxx Min-Width Media Query --*/

/*-- End xxx Min-Width Media Query --*/
/*-- Start xxx Min-Width Media Query --*/

/*-- End xxx Min-Width Media Query --*/
/*-- Start xxx Min-Width Media Query --*/

/*-- End xxx Min-Width Media Query --*/
